# APPLICATION
APP_NAME="Сервис процессинга платежей"
APP_VERSION=0.0.1
APP_SUMMARY=""
APP_DESCRIPTION="Сервис принимает запросы на оплату, обрабатывает их через внешний платежный шлюз (эмуляцию) и уведомляет клиента о результате через webhook."
APP_SWAGGER_PATH=/docs

# SECURITY
API_KEY=sk_live_y8XTwBhMYXmK154dOyhtCYXemBlX76vx

# POSTGRES
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# RABBITMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=payments
RABBITMQ_PASSWORD=payments123
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Webhook
WEBHOOK_SECRET=22

# LOGS
LOG_LEVEL=INFO  # DEBUG, INFO, WARNING, ERROR
LOG_DIR=logs
LOG_FILENAME=app.log
LOG_PER_PROCESS=False
LOG_QUEUE_SIZE=100000
LOG_BACKUP_DAYS=14
LOG_CONSOLE=False
